In [2]:
import pandas as pd

In [3]:
zip_file_path="C:/Users/DELL/Downloads/archive (5).zip"

In [4]:
df=pd.read_csv(zip_file_path,compression='zip')

In [5]:
df.head(20) #Overview of the data set having Unknown | Error | NaN values

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

In [6]:
df.head()# First 5 rows of the data set

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [7]:
df.tail() #last 5 rows of the data set

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [8]:
df.shape # finding how many rows or columns are present in a data set (rows,columns)

(10000, 8)

In [9]:
df.columns #finding the names of the columns of the data set

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [10]:
df.info() # Getting the information of the data set and how many columns are there and how many null values are present in a column and what is the data type of the columns and how much memory a column consuming

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [11]:
df.dtypes  #checking the data type of the columns of the data set

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [12]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').astype('Int64') #Converting the data type of the columns into another data type of the data set 
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

In [13]:
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"], errors="coerce")  #converting the transaction date column of the data set into data and time format

In [14]:
df.dtypes #So from here all the columns and its data type are correct of the data set

Transaction ID              object
Item                        object
Quantity                     Int64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [15]:
df.isnull().sum() #finding the null values of the columns of the data set

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [16]:
#Converting the UNKNOWN and ERROR value also to  NaN ,so that data set would be proper clean 
df.replace(["UNKNOWN", "ERROR"], pd.NA, inplace=True)

In [17]:
#fill the null value of the columns of the data set
df['Item'] = df['Item'].fillna(df['Item'].mode()[0])
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].median())
df['Price Per Unit'] = df['Price Per Unit'].fillna(df['Price Per Unit'].median())

# Total Spent re-calculate
df['Total Spent'] = df['Quantity'] * df['Price Per Unit']

df['Payment Method'] = df['Payment Method'].fillna(df['Payment Method'].mode()[0])
df['Location'] = df['Location'].fillna(df['Location'].mode()[0])

# Date column fill
df['Transaction Date'] = df['Transaction Date'].ffill()

In [18]:
df.isnull().sum() #So from here there is No null value present in the columns of the data set

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [19]:
df.rename(columns={'Transaction ID':'Transaction_ID'},inplace=True)  #Renaming the columns of the data set
df.rename(columns={'Item':'Items'},inplace=True)
df.rename(columns={'Quantity':'Quantities'},inplace=True)
df.rename(columns={'Price Per Unit':'Price_Per_Unit'},inplace=True)
df.rename(columns={'Total Spent':'Total_Spent'},inplace=True)
df.rename(columns={'Payment Method':'Payment_Method'},inplace=True)
df.rename(columns={'Location':'Locations'},inplace=True)
df.rename(columns={'Transaction Date':'Transaction_Date'},inplace=True)

In [20]:
df.duplicated().sum() #Detecting the duplicate rows of the data set

np.int64(0)